DB_DRIVER=net.sf.log4jdbc.sql.jdbcapi.DriverSpy
DB_URL=jdbc:log4jdbc:mysql://localhost:3306/firstfolio_db?serverTimezone=UTC&characterEncoding=UTF-8
DB_USERNAME=사용자이름
DB_PASSWORD=비밀번호

FIREBASE_PROJECT_ID=Firebase_프로젝트_ID
GOOGLE_APPLICATION_CREDENTIALS=/absolute/path/to/firebase-service-account.json
